<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bookit - Table Reservation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&amp;family=Poppins:wght@400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header-->
    <header class="header"><a class="logo" href="/"><img src="/images/logo.png" alt="Bookit Logo"><span class="logo-text">Bookit</span></a>
      <nav class="nav-menu"><a href="/">Home</a><a href="/reservation">Reservation</a><a href="/about">About</a><a href="/view">View</a></nav>
      <div class="utilities"><a href="#"><img class="utility-icon" src="/images/search-analytics.png" alt="Search"></a><a href="#"><img class="utility-icon" src="/images/shopping-bag.png" alt="Shopping Cart"></a><a href="/login"><img class="utility-icon" src="/images/user.png" alt="User Account"></a></div>
    </header>
    <!-- Hero Section-->
    <main class="hero">
      <div class="hero-content">
        <h1 class="hero-title">Table <br>Reservation</h1>
        <p class="hero-subtitle">Reserve your table now for an unforgettable dining experience !</p><a class="book-now-btn" href="/login">Book Now</a>
      </div>
    </main>
  </body>
</html>