extends layout

block content
  .container.mt-5
    h1.text-center.mb-5 Our Menu
    
    each category in menu.categories
      .menu-category.mb-5
        h2.mb-4= category.name
        .row
          each item in category.items
            .col-md-6.mb-4
              .card
                .card-body
                  h5.card-title= item.name
                  p.card-text= item.desc
                  p.card-text
                    strong $#{item.price.toFixed(2)}
    
    a.btn.btn-primary(href="/") Return Home